/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

textarea, input {
  border: 2px #0088AA solid;
}

button {
  background-color: #0088AA;
  border: none;
  
}

button: focus {
outline: none;
border:none;
}


button:hover {
border: none;
outline: none;
box-shadow: none;
}