/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

textarea, input {
  border: 2px #0088AA solid;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 3px;
}

input {
  height: 14px;
}
button {
  background-color: #0088AA; 
  border: 1px #0088AA solid;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
}

button: focus {
outline: none;
border:none;
}


button:hover {
  background-color: white; 
  color: #0088AA;
  border: 1px #0088AA solid;
}